:host {
  display: block;
}
#scroll_container{
  text-align: center;
  height: 100%;
  background-color:#eee;
}
.scroll_label{
  font-size: .75em;
  padding: 2px;
}
.selected{
  background-color:white;
}
